{% extends 'base.html' %}


{% block title %}Sign Up{% endblock title %}

{% block css %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/css/custom.css' %}" type="text/css" />
{% endblock css %}

{% block body %}

<div class="conatiner">
    <div class="row">
        <div class="col-4 offset-4">
            <form method="post" id='reset_password_form'>
                {% csrf_token %}
                <p>Please enter new password</p>
                <div class="form-floating">
                    <input type="password" class="form-control" name="new_password" id="new_password" placeholder="Password">
                    <label for="new_password">New password</label>
                    <span class='validation_error' id='reset_password_error'>
                        <p>Password not valid!</p>
                    </span>
                    <div id="message">
                    <h6>Password must contain the following:</h6>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="new_password_confirm" id="new_password_confirm" placeholder="Password">
                    <label for="new_password_confirm">New password confirmation</label>
                    <span class='validation_error' id='reset_confirm_password_error'>
                        <p>Password not matched!</p>
                    </span>
                </div>
                
            </form>
            <button class="btn btn-primary" id='reset_password_button'>Reset Password</button>
        </div>
    </div>
</div>






{% endblock body %}
{% block js %}
    <script>
        var crf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static 'home/js/confirm_password.js' %}"></script>
{% endblock js %}