{% extends 'base.html' %}


{% block title %}DashBoard{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/dashboard.css' %}" type="text/css" />
{% endblock css %}

{% load define_action %}
{% block notification %}
<div class="dropdown mx-3" id="notification">
    {% comment %} <button class="btn text-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class='text-dark'><i class="text-light fa fa-user"></i></span>
    </button> {% endcomment %}
    <a class="nav-link text-light position-relative" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <span class='text-dark'><i class="fa-solid fa-bell text-light"></i></span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {% add_value friend_invites|length group_invites|length %}
              </span>
          </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="list-group-item align-items-center d-flex" style="border: 0;">
            <div style='display: inline-block;' class='me-auto'>
                <p class='m-0'><i><strong>Friend Requests</strong></i></p>
            </div>
        </li>
        {% if friend_invites %}
        {% for activity in friend_invites %}
        <li class="list-group-item align-items-center d-flex accept_reject_friend_invite_target" style="border: 0;"
            id='{{ activity.id }}_{{ activity.sender_id }}'>
            <div style='display: inline-block;' class='me-auto'>
                <p class='m-0'>{{ activity.sender_id__username }}</p>
            </div>
            <div style='display: inline-block;'>
                <button type="button" class="btn p-0" style="content: 'Accept';"><i class="fas fa-check-circle text-success h4 m-0"></i></button>
                <button type="button" class="btn p-0" style="content: 'Reject';"><i class="fa fa-times-circle text-danger h4 m-0" aria-hidden="true"></i></button>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item align-items-center d-flex" style="border: 0;">
            <div style='display: inline-block;' class='me-auto'>
                <p class='m-0'><i>No Requests</i></p>
            </div>
        </li>
        {% endif %}
        <li><hr class="dropdown-divider"></li>


        <li class="list-group-item align-items-center d-flex" style="border: 0;">
            <div style='display: inline-block;' class='me-auto'>
                <p class='m-0'><i><strong>Group Requests</strong></i></p>
            </div>
        </li>
        {% if group_invites %}
            {% for activity in group_invites %}
            <li class="list-group-item align-items-center d-flex accept_reject_group_invite_target" style="border: 0;"
                id='{{ activity.id }}_{{ activity.group_id__id }}'>
                <div style='display: inline-block;' class='me-auto'>
                    <p class='m-0'>{{ activity.group_id__group_name }}</p>
                </div>
                <div style='display: inline-block;'>
                    <button type="button" class="btn p-0" style="content: 'Accept';"><i class="fas fa-check-circle text-success h4 m-0"></i></button>
                    <button type="button" class="btn p-0" style="content: 'Reject';"><i class="fa fa-times-circle text-danger h4 m-0" aria-hidden="true"></i></button>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item align-items-center d-flex" style="border: 0;">
                <div style='display: inline-block;' class='me-auto'>
                    <p class='m-0'><i>No Requests</i></p>
                </div>
            </li>
        {% endif %}
    </ul>
  </div>

{% endblock notification %}



{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <div class="side_bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="side_bar_row side_bar_row_clicked" id="dashboard_side_bar">
                                <i class="fa-solid fa-chart-line"></i>
                                <span>Dashboard</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="side_bar_row" id="activity_side_bar">
                                <i class="fa-solid fa-flag"></i>
                                <span>Activity</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col">
                            <div class="side_bar_row" id="all_expense_side_bar">
                                <i class="fa-solid fa-list"></i>
                                <span>All Expenses</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col">
                            <div class="side_bar_row side_bar_label text-center">
                                <span>Groups</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="side_bar_row add_icon_wrapper text-center" id='add_group_btn'>
                                <i class="fa-solid fa-circle-plus"></i>
                                <span>Add Group</span>
                            </div>
                        </div>
                    </div>
                    <!-- for loop  -->
                    <div class="row">
                        <div class="col">
                            <div class="group_name_list_wrapper">
                                {% for group_id, group_name in groups_list %}
                                <div class="side_bar_row group_name_list" id='{{ group_id }}'>
                                    <i class="fa-solid fa-tag"></i>
                                    <span>{{ group_name }}</span>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="side_bar_row side_bar_label text-center">
                                <span>Friends</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="side_bar_row add_icon_wrapper text-center" id='add_friend_btn'>
                                <i class="fa-solid fa-circle-plus"></i>
                                <span>Add Friend</span>
                            </div>
                        </div>
                    </div>
                    <!-- for loop  -->
                    <div class="row">
                        <div class="col">
                            <div class="friends_name_list_wrapper">
                                {% for friend in friends_list %}
                                <div class="side_bar_row friend_name_list" id='{{ friend.friend_id__id }}'>
                                    <i class="fa-solid fa-user-check"></i>
                                    <span>{{ friend.friend_id__username }}</span>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="add_expense_sidebar_button_wrapper">
                            <div class="side_bar_row">
                                <button type="button" class="btn btn-success btn-rounded" style="width: 100%;" data-bs-toggle="modal"
                                    data-bs-target="#add_expense_modal"><i class="fa-solid fa-circle-plus"></i>
                                    Add Expense
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="zoom-in-down" data-aos-duration="1000" class="col-md-9">
            <div class="row">
                <div class="col">
                    <div class="dashboard_wrapper">
                        <div class="dashboard_header d-flex align-items-center">
                            <div class="heading me-auto">
                                <span class="fw-bold">DashBoard</span>
                            </div>
                            <div class="dashboard_header_btns">
                                <button type="button" class="btn secondary-btn text-light btn-lg" data-bs-toggle="modal"
                                    data-bs-target="#add_expense_modal"><i class="fa-solid fa-money-bill-1-wave"></i>
                                     Add Expense
                                </button>
                                <!-- <button type="button" class="btn btn-primary btn-lg">Settle</button> -->
                            </div>
                        </div>
                        <div class="dashboard_body">
                            <div class="unsettled_expenses_wrapper">
                                <div class="sms-send-page">
                                    <ul class="list-group">
                                        <!-- <li class="list-group-item d-flex align-items-center">
                                            
                                        </li> -->
                                        {% if unsettled_expenses %}
                                            {% for expense in unsettled_expenses %}
                                                    
                                                    <li data-aos="fade-up" data-aos-duration="1000" class="list-group-item d-flex align-items-center"
                                                        id='{{ expense.bill_id_id }}'>
                                                        <div class="col-xs-8 pull-left me-auto">
                                                            <p><strong>{{ expense.bill_id__bill_name }} - {{ expense.group_id__group_name }}</strong></p>
                                                        </div>
                                                        <div class="col-xs-4 pull-right">
                                                            <button class="btn primary-btn text-light" type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#billDetail_{{ expense.bill_id_id }}"
                                                                aria-expanded="false" aria-controls="collapseExample">
                                                                Bill Details<i class="fa-solid fa-arrow-down-short-wide"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <div class="collapse" id="billDetail_{{ expense.bill_id_id }}">
                                                        <div class="card card-body">
                                                            <table class="table table-hover table-striped">
                                                                <tbody>
                                                                    <tr>
                                                                        <th class="table-dark" scope="col">Expense Name</th>
                                                                        <th class="table-dark" scope="col">{{ expense.bill_id__bill_name }}</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="col">Date & Time</td>
                                                                        <td scope="col">{{ expense.bill_id__date }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="col">Split Type</td>
                                                                        <td scope="col">{{ expense.bill_id__split_type }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="col">Amount Paid by You</td>
                                                                        <td scope="col">&#8377; {{ expense.paid }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="col">Amount on your Part</td>
                                                                        <td scope="col">&#8377; {{ expense.must_pay }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="col">Debt amount</td>
                                                                        <td scope="col">&#8377; {{ expense.debt }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="col">Lent amount</td>
                                                                        <td scope="col">&#8377; {{ expense.lent }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="fw-bold" scope="col">Total Amount</td>
                                                                        <td class="fw-bold" scope="col">&#8377; {{ expense.bill_id__amount }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                        {% else %}
                                            <li class="list-group-item d-flex align-items-center">
                                                <div class="col-xs-8 pull-left me-auto">
                                                    <p><strong>Your all settled up.</strong></p>
                                                </div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="activity_wrapper">
                        <div class="activity_header">
                            <div class="heading">
                                <span>Activity</span>
                            </div>
                        </div>
                        <div class="activity_body">
                            <div class="invites_wrapper">
                                <div class="sms-send-page">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <h5><strong>Friend Requests</strong></h5>
                                            </div>
                                        </li>
                                        {% if friend_invites %}
                                        {% for activity in friend_invites %}
                                        <li class="list-group-item d-flex align-items-center accept_reject_friend_invite_target"
                                            id='{{ activity.id }}_{{ activity.sender_id }}'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><strong>{{ activity.sender_id__username }}</strong></p>
                                            </div>
                                            <div class="col-xs-4 pull-right">
                                                <button type="button" class="btn" style="content: 'Accept';"><i class="fas fa-check-circle text-success h3 m-0"></i></button>
                                                <button type="button" class="btn" style="content: 'Reject';"><i class="fa fa-times-circle text-danger h3 m-0" aria-hidden="true"></i></button>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><i>No Friend Request</i></p>
                                            </div>
                                        </li>
                                        {% endif %}
                                        <li class="list-group-item align-items-center" id='friend_request_error'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><strong></strong></p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <h5><strong>Group Requests</strong></h5>
                                            </div>
                                        </li>
                                        {% if group_invites %}
                                        {% for activity in group_invites %}
                                        <li class="list-group-item d-flex align-items-center accept_reject_group_invite_target"
                                            id='{{ activity.id }}_{{ activity.group_id__id }}'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p>{{ activity.group_id__group_name }}</p>
                                            </div>
                                            <div class="col-xs-4 pull-right">
                                                <button type="button" class="btn" style="content: 'Accept';"><i class="fas fa-check-circle text-success h3 m-0"></i></button>
                                                <button type="button" class="btn" style="content: 'Reject';"><i class="fa fa-times-circle text-danger h3 m-0" aria-hidden="true"></i></button>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><i>No Group Request</i></p>
                                            </div>
                                        </li>
                                        {% endif %}
                                        <li class="list-group-item align-items-center" id='group_request_error'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><i></i></p>    
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="expense_request_wrraper">
                                <div class="sms-send-page">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <h5><strong>Group Expense Requests</strong></h5>
                                            </div>
                                        </li>
                                        {% if zipped_group_expense_requests %}
                                        {% for activity, all_settles in zipped_group_expense_requests %}
                                        <li class="list-group-item d-flex align-items-center accept_reject_group_expense_target"
                                            id='{{ activity.id }}_{{ activity.group_id__id }}_{{ activity.bill_id__id }}'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><strong>{{ activity.group_id__group_name }} - {{ activity.bill_id__bill_name }}</strong></p>
                                            </div>
                                            <div class="col-xs-4 pull-right">
                                                
                                                <button type="button" class="btn" style="content: 'Accept';"><i class="fas fa-check-circle text-success h3 m-0"></i></button>
                                                <button type="button" class="btn" style="content: 'Reject';"><i class="fa fa-times-circle text-danger h3 m-0" aria-hidden="true"></i></button>
                                                <button class="btn primary-btn text-light" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#billDetail_{{ activity.id }}_{{ activity.group_id__id }}_{{ activity.bill_id__id }}"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    Bill details<i class="fa-solid fa-arrow-down-short-wide"></i>
                                                </button>
                                            </div>
                                        </li>
                                        <div class="collapse"
                                            id="billDetail_{{ activity.id }}_{{ activity.group_id__id }}_{{ activity.bill_id__id }}">
                                            <div class="card card-body">
                                                <table class="table table-hover table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th class="table-dark" scope="col">Expense Name</th>
                                                            <th class="table-dark" scope="col">{{ activity.bill_id__bill_name }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Date & Time</td>
                                                            <td scope="col">{{ activity.bill_id__date }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Bill Created By</td>
                                                            <td scope="col">{{ activity.sender_id__username }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Split type</td>
                                                            <td scope="col">{{ activity.bill_id__split_type }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Message</td>
                                                            <td scope="col">{{ activity.message }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Amount Paid by You</td>
                                                            <td scope="col">&#8377; {{ all_settles.paid }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Amount on your Part</td>
                                                            <td scope="col">&#8377; {{ all_settles.must_pay }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Debt amount</td>
                                                            <td scope="col">&#8377; {{ all_settles.debt }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fw-bold" scope="col">Total Amount</td>
                                                            <td class="fw-bold" scope="col">&#8377; {{ activity.bill_id__amount }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><i>No group expense requests</i></p>
                                            </div>
                                        </li>
                                        {% endif %}
                                        <li class="list-group-item align-items-center" id='group_expense_request_error'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><strong></strong></p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <h5><strong>Friend expense requests</strong></h5>
                                            </div>
                                        </li>
                                        {% if zipped_friend_expense_requests %}
                                        {% for activity, all_settles in zipped_friend_expense_requests %}
                                        <li class="list-group-item d-flex align-items-center accept_reject_friend_expense_target"
                                            id='{{ activity.id }}_{{ activity.group_id__id }}_{{ activity.bill_id__id }}'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><strong>{{ activity.sender_id__username }} - {{ activity.bill_id__bill_name }}</strong></p>
                                            </div>
                                            <div class="col-xs-4 pull-right">
                                               
                                                <button type="button" class="btn" style="content: 'Accept';"><i class="fas fa-check-circle text-success h3 m-0"></i></button>
                                                <button type="button" class="btn" style="content: 'Reject';"><i class="fa fa-times-circle text-danger h3 m-0" aria-hidden="true"></i></button>
                                                <button class="btn primary-btn text-light" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#billDetail_{{ activity.id }}_{{ activity.group_id__id }}_{{ activity.bill_id__id }}"
                                                aria-expanded="false" aria-controls="collapseExample">
                                                Bill details<i class="fa-solid fa-arrow-down-short-wide"></i>
                                            </button>
                                            </div>
                                        </li>
                                        <div class="collapse"
                                            id="billDetail_{{ activity.id }}_{{ activity.group_id__id }}_{{ activity.bill_id__id }}">
                                            <div class="card card-body">
                                                <table class="table table-hover table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th class="table-dark" scope="col">Expense Name</th>
                                                            <th class="table-dark" scope="col">{{ activity.bill_id__bill_name }}</th>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Date & Time</td>
                                                            <td scope="col">{{ activity.bill_id__date }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Bill Created By</td>
                                                            <td scope="col">{{ activity.sender_id__username }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Split type</td>
                                                            <td scope="col">{{ activity.bill_id__split_type }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Message</td>
                                                            <td scope="col">{{ activity.message }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Amount Paid by You</td>
                                                            <td scope="col">&#8377; {{ all_settles.paid }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Amount on your Part</td>
                                                            <td scope="col">&#8377; {{ all_settles.must_pay }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Debt amount</td>
                                                            <td scope="col">&#8377; {{ all_settles.debt }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fw-bold" scope="col">Total Amount</td>
                                                            <td class="fw-bold" scope="col">&#8377; {{ activity.bill_id__amount }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <li class="list-group-item d-flex align-items-center">
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><i>No friend expense requests</i></p>
                                            </div>
                                        </li>
                                        {% endif %}
                                        <li class="list-group-item align-items-center"
                                            id='friend_expense_request_error'>
                                            <div class="col-xs-8 pull-left me-auto">
                                                <p><strong></strong></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="general_activity">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col">
                    <div class="all_expense_wrapper">
                        <div class="all_expense_header d-flex align-items-center">
                            <div class="heading me-auto">
                                <span>All Expense</span>
                            </div>
                            <div class="all_expense_header_btns">
                                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                                    data-bs-target="#add_expense_modal">
                                    Add Expense
                                </button>
                                <button type="button" class="btn btn-primary btn-lg">Settle</button>
                            </div>
                        </div>
                        <div class="all_expense_body">

                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col">
                    <div class="data_box_wrapper">
                        <div class="data_box_header">
                            <div class="heading">
                                <span>Expense</span>
                            </div>
                        </div>
                        <div class="data_box_body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Friend Modal -->
<div class="modal fade" id="add_friend_modal" tabindex="-1" aria-labelledby="add_friend_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="add_friend_modal_label">Add/ Invite your Friends</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="sms-send-page">
                    <form class="mb-3" id="search_friend">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
                    <ul class="list-group">
                        {% comment %} {% if not_friend_users %}
                        {% for user in not_friend_users %}
                        <li class="list-group-item d-flex align-items-center not_friend_target" id='{{ user.id }}'>
                            <div class="col-xs-8 pull-left me-auto">
                                <p><strong>{{ user.username }}</strong></p>
                            </div>
                            <div class="col-xs-4 pull-right">
                                <button type="button" class="btn btn-success">Invite<i class="fa fa-paper-plane-o"
                                        aria-hidden="true"></i></button>
                            </div>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item d-flex align-items-center">
                            <div class="col-xs-8 pull-left me-auto">
                                <p><strong>No Users</strong></p>
                            </div>
                        </li>
                        {% endif %}
                        {% endcomment %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Group Modal -->
<div class="modal fade" id="add_group_modal" tabindex="-1" aria-labelledby="add_group_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="add_group_modal_label">Add Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create_new_group_form">
                    <div class="mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="add_friend_to_group"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Select your Members
                            </button>
                            <span class="validation_error" id="group_member_number_error">
                                Please select atleast 3 members.
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="add_friend_to_group">
                                {% for friend in friends_list %}
                                <li>
                                    <div class="dropdown-item target_friend" id="{{ friend.friend_id__id }}">
                                        {{ friend.friend_id__username }}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="span_friend_group">

                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Group Name</span>
                        <input type="text" aria-label="group name" id="group_name_input" class="form-control">
                    </div>
                    <div class="validation_error" id="group_name_error">
                        Invalid Group Name.
                    </div>
                </form>
                <div class="alert" id='add_group_response' role="alert">

                </div>
            </div>
            <div class="text-center mb-2">
               <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-sm primary-btn w-75 text-light" id="add_group_submit_btn">Add</button>
                    
                   </div>
                   <div class="col-md-6">
                    <button type="button" class="btn btn-sm secondary-btn w-75 text-light" data-bs-dismiss="modal">Close</button>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Expense Modal -->
<div class="modal fade" id="add_expense_modal" tabindex="-1" aria-labelledby="add_expense_modal_label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="add_expense_modal_label">Add Expense <i class="text-dark fa fa-cash"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="friend_group_radio" id="friend_radio_btn" value="friend"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-info" for="friend_radio_btn">Friend</label>

                    <input type="radio" class="btn-check" name="friend_group_radio" id="group_radio_btn" value="group"
                        autocomplete="off">
                    <label class="btn btn-outline-info" for="group_radio_btn">Group</label>
                </div>

                <!-- Group tab  -->
                <div class="group_modal hide-modal">
                    <form id='expense_form'>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="group_name">With</label>
                            <select class="form-select" id="group_name">
                                <option value='0' selected>Choose...</option>
                                {% for group_id, group_name in groups_list %}
                                <option value="{{ group_id }}">{{ group_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="expense_name" value=''
                                placeholder='Expense Name' name='expense_name'>
                        </div>

                        <div id="all_grp_members_with_amount_wrapper">
                            <div class="row">

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="total_amount" placeholder='Total Amount'
                                disabled>
                            <span class="input-group-text">&#8377;</span>
                            <input type="text" class="form-control" id='total_amount' aria-label="total_amount"
                                value='0' disabled>
                            <div class="invalid-feedback" id='amount-zero'>
                                Amount not filled.
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect02">Split Type</label>
                            <select class="form-select" id="split_type">
                                <option value='0' selected>Choose...</option>
                                <option value="equal">Equal</option>
                                <option value="exact">Exact</option>
                                <option value="percentage">Percentage</option>
                            </select>
                        </div>


                        <div id="all_grp_members_with_actual_amount_wrapper">
                            <div class="row">

                            </div>
                        </div>
                        <div class="invalid-feedback" id='total_amount_remaining'>
                            Total Amount not same.
                        </div>

                        <div class='input-group mb-3'>
                            <label class="form-control" for="datetime-local">Select Data & Time</label>
                            <input class="form-control" type="datetime-local" id="datetime-local">
                        </div>


                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Send Verify notification with
                                message</label>
                            <textarea class="form-control" name='message' id="message-text"></textarea>
                        </div>
                    </form>
                    <div class="alert" id='add_group_expense_response' role="alert">

                    </div>
                </div>


                <!-- Friend tab  -->
                <div class="friend_modal">
                    <form id='friend_expense_form'>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="friend_name">With</label>
                            <select class="form-select" id="friend_name">
                                <option value='0' selected>Choose...</option>
                                {% for friend in friends_list %}
                                <option value="{{ friend.friend_id__id }}">{{ friend.friend_id__username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="friend_expense_name" value=''
                                placeholder='Expense Name' name='friend_expense_name'>
                        </div>


                        <div id="all_friend_members_with_amount_wrapper">
                            <div class="row">

                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="total_amount" placeholder='Total Amount'
                                disabled>
                            <span class="input-group-text">&#8377;</span>
                            <input type="text" class="form-control" id='friend_total_amount' aria-label="total_amount"
                                value='0' disabled>
                            <div class="invalid-feedback" id='friend_amount-zero'>
                                Amount not filled.
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="friend_split_type">Split Type</label>
                            <select class="form-select" id="friend_split_type">
                                <option value='0' selected>Choose...</option>
                                <option value="equal">Equal</option>
                                <option value="exact">Exact</option>
                                <option value="percentage">Percentage</option>
                            </select>
                        </div>

                        <div id="all_friend_members_with_actual_amount_wrapper">
                            <div class="row">

                            </div>
                        </div>
                        <div class="invalid-feedback" id='friend_total_amount_remaining'>
                            Total Amount not same.
                        </div>

                        <div class='input-group mb-3'>
                            <label class="form-control" for="datetime-local">Date-Time</label>
                            <input class="form-control" type="datetime-local" id="friend_datetime-local">
                        </div>

                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Send a Message..... </label>
                            <textarea class="form-control" name='message' id="friend_message-text"></textarea>
                        </div>
                    </form>
                    <div class="alert" id='add_friend_expense_response' role="alert">

                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row text-center">
                    <div class="col-md-4">
                         <button type="button" class="btn primary-btn w-75 text-light" id='add_expense'>Add Expense</button>
                    </div>
                    <div class="col-md-4">
                         <button type="button" class="btn secondary-btn w-75 text-light" id='reset_form'>Reset</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn primary-btn w-75 text-light" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Settle Modal -->
<div class="modal fade" id="settlement_modal" tabindex="-1" aria-labelledby="settlement_modal_label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            
			<div class="modal-header">
				<h5 class="modal-title" id="settlement_modal_label">Pay..</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
                    
                    <div class="dropdown mb-2">
                        <select class="form-select" aria-label="Default select example" id='payers_list_dropdown_target'>

                        </select>
                    </div>
					<div class="input-group mb-3">
						<span class="input-group-text">&#8377;</span>
						<input type="text" class="form-control" id='settle_payment' value='0'>
						
					</div>
                    <div class="invalid_value_error">
                        Invalid Value!!!
                    </div>
                    <div class="settle_response_message" style="display: none;">

                    </div>
					<input type="hidden" name="settle_bill_id" id="settle_bill_id">
					<input type="hidden" name="max_payment_amount" id="max_payment_amount" >
				</form>
					
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="settle_payment_pay_button">Pay</button>
			</div>
		</div>
	</div>
</div>


{% endblock body %}

{% block js %}
<script>

    var url = '{% url 'dashboard' %}';
    var crf_token = "{{ csrf_token }}";
    var current_user_details = [{{ request.user.id }}, '{{ request.user.username }}'];
    var groups_members = JSON.parse('{{ groups_members|safe }}');
    var svg_success_image = '{% static 'bootstrap-icons-1.8.1/check-circle-fill.svg' %}';
    var svg_failed_image = '{% static 'bootstrap-icons-1.8.1/exclamation-triangle-fill.svg' %}';
    var not_friend_users = JSON.parse('{{ not_friend_users_for_js|safe }}');

</script>
<script src="{% static 'home/js/dashboard.js' %}"></script>

{% endblock js %}