<!doctype html>
<html lang="en">

{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock title %}</title>

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.1.3-dist/css/bootstrap.min.css' %}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- icons  -->
  <link href="{% static 'fontawesome-web-6/css/all.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'home/css/custom.css' %}" type="text/css" />
  {% block css %}{% endblock css %}
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navibar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <!-- <img id="brand-logo" alt="Brand" src="{% static 'home/images/brand-logo.png' %}"> -->
        <h1>Money Tracker</h1>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- go to different page, profile, history, signout -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

          </li>
        </ul>

        <ul class="d-flex nav-bar-btns">
          {% block notification %}{% endblock notification %}

          {% if request.user.is_authenticated %}
          <!-- <li class="nav-item user_name_tag">
            <span class="badge bg-secondary logged_user_tag">Logged as {{ request.user.username }}</span>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout_handler' %}"><button type="button" class="btn btn-outline-light">Logout</button></a>
          </li> -->
          <span class="text-light greeting-text">Hi, {{ request.user.username }} <i class="fa-solid fa-face-smile"></i></span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <span class='text-dark'><i class="text-light fa fa-user"></i></span>
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a href="{% url 'logout_handler' %}" class="dropdown-item">
                  Log Out <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a></li>
            </ul>
          </li>

          {% else %}

          <li class="nav-item">
            <button type="button" class="btn btn-outline-light mx-2" data-bs-toggle="modal" data-bs-target="#login_modal">
              Log In
            </button>
            <button type="button" class="btn btn-outline-light mx-2" data-bs-toggle="modal" data-bs-target="#signup_modal">
              Join Us!
            </button>
          </li>

          {% endif %}



        </ul>
      </div>
    </div>
  </nav>
  {% include 'messages.html' %}
  {% block body %}{% endblock body %}

  <!-- Login Modal -->
  <div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="login_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="login_modal_label">Let's Move On!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-signin-wrapper">
            <form>
              <!-- <div class="form-floating">
                <input type="text" class="form-control" id="login_user_name" placeholder="Username">
                <label for="login_user_name">Username</label>
                <span class='validation_error' id='login_user_error'>
                  <p>Username not valid!</p>
                </span>
              </div> -->

              <div class="form-floating">
                <input type="password" class="form-control" id="login_password" placeholder='Password'
                  autocomplete="on">
                <label for="login_password">Password</label>
                <span class='validation_error' id='login_password_error'>
                  <p>Password not valid!</p>
                </span>
              </div>
            </form>

            <div id="login_failed">

            </div>
            <div class="mt-4 row">
              <div class="text-start col-md-6">
                <div id="forgot_password">
                  <a class="text-decoration-none" href="javascript:void(0)">Forgot password?</a>
                </div>

              </div>
              <div class="text-end col-md-6">
                <div id="open_signup">
                  <a class="text-decoration-none mt-3" href="javascript:void(0)">Don't have an account?</a>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button class="btn w-100 my-3 text-light primary-btn" id="login_button">Log In</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Signup Modal -->
  <div class="modal fade" id="signup_modal" tabindex="-1" aria-labelledby="signup_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center fw-bold  " id="signup_modal_label">Join Us, Now!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-wrapper signup-box">

            <form id="signup_form">
              <!-- <div class="form-floating">
                <input type="text" class="form-control" id="signup_user_name" placeholder="Username">
                <label for="signup_user_name">Username</label>
                <span class='validation_error' id='signup_username_error'>
                  <p>Username not valid!</p>
                </span>
              </div> -->

              <div class="form-floating">
                <input type="email" class="form-control" id="signup_email" placeholder="name@example.com">
                <label for="signup_email">Email address</label>
                <span class='validation_error' id='signup_email_error'>
                  <p>Please Enter a Valid Email Address!</p>
                </span>
              </div>

              <div class="form-floating">
                <input type="password" class="form-control" id="signup_password" placeholder="Password"
                  autocomplete="on">
                <label for="signup_password">Password</label>
                <span class='validation_error' id='signup_password_error'>
                  <p>Invalid Password</p>
                </span>
                <div id="message">
                  <h6>Password must contain the following:</h6>
                  <p id="letter" class="invalid"><b>Lowercase</b> character</p>
                  <p id="capital" class="invalid"><b>Uppercase</b> character</p>
                  <p id="number" class="invalid"><b>Number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters long</b></p>
                </div>
              </div>

              <div class="form-floating">
                <input type="password" class="form-control" id="signup_confirm_password" placeholder="Confirm Password"
                  autocomplete="on">
                <label for="signup_confirm_password">Confirm Password</label>
                <span class='validation_error' id='signup_confirm_password_error'>
                  <p>Password didn't matched!</p>
                </span>
              </div>

              <div class="form-floating">
                <input type="text" class="form-control" id="signup_phone" placeholder="Phone">
                <label for="signup_phone">Phone</label>
                <span class='validation_error' id='signup_phone_error'>
                  <p>Invalid Number!</p>
                </span>
              </div>

            </form>

            <div id="signup_failed">

            </div>

            <div id="open_login">
              <a class="text-decoration-none text-center" href="javascript:void(0)">Already have an account?</a>
            </div>

            <div class="text-center">
              <button class="btn primary-btn text-light w-100 my-3" id="signup_button">Register</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Forgot password Modal -->
  <div class="modal fade" id="forgot_password_modal" tabindex="-1" aria-labelledby="forgot_password_modal_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="forgot_password_modal_label">Reset Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p>Did you forgot your Password?<br> No worries, please enter your Registerd Email address below and we'll send you a link in a minute to reset your password.</p>
          <form id="reset_password_form">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="reset_password_email" placeholder="name@example.com">
              <label for="reset_password_email">Email address</label>
              <span class='validation_error' id='reset_password_email_error'>
                <p>Invalid Email!</p>
              </span>
            </div>

          </form>


          <div id="reset_password_message">

          </div>
          <button class="btn primary-btn text-light" id='send_password_reset_mail'>Send Email</button>

        </div>
      </div>
    </div>
  </div>

  <!--Bootstrap: Bootstrap Bundle with Popper -->
  <script src="{% static 'bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom JS  -->
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>AOS.init();</script>
  {% block js %}
  {% endblock js %}
</body>

</html>
